@use "../../../global-scss/all" as *;

.status-message.ui {
  margin: -20px 0 0;
  padding: 40px 20px 20px;
  background: #fff;
  text-align: center;
  border: 0;
  border-radius: 0;
  .header:not(.ui) {
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    font-weight: 900;
  }
  &.positive {
    color: #fff;
    background: $green;
    box-shadow: none;
  }
  &.negative {
    color: #fff;
    background: $orange;
    box-shadow: none;
  }
  @include min-screen(768px) {
    margin: -20px 0 0;
    padding: 60px 40px 40px;
    .header:not(.ui) {
      font-size: 24px;
      line-height: 25px;
    }
  }
  @include min-screen(1224px) {
    margin: -40px 0 0;
    padding: 120px 50px 80px;
    .header:not(.ui) {
      font-size: 30px;
      line-height: 30px;
    }
  }
}